# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
.ipynb_checkpoints/

# R
.Rhistory
.RData
.Rproj.user/

# Datos pesados
*.csv
*.parquet
*.h5
data/raw/

# Credenciales - NUNCA subir
.env
*.key
credentials.json

# Sistema
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/